.menu-xs {
	right: 5rem;
	top: 2.2rem;
	position: absolute;
}

@media(max-width:1032px) {
	.menu-xs {
		right: 5rem;
		top: 2rem;
		position: absolute;
	}
	/*.inner>.masthead-brand {*/
		/*display: inline-block;*/
		/*margin-right: 45%;*/
	/*}*/
}

@media(max-width:991px) {
	.menu-xs {
		right: 5rem;
		top: 1.3rem;
		position: absolute;
	}
}

@media(max-width:767px) {
	.social-icons>div>a {
		padding-right: 1rem;
	}
	.social-icons>div {
		display: block;
		padding-top: .75rem;
	}
	h1>.golden {
		display: block;
	}
	/*.inner>.masthead-brand {*/
		/*display: inline-block;*/
		/*margin-right: 48%;*/
	/*}*/
	#mcwd {
		/*height: auto;*/
		width: 40%;
		min-width: 195px;
	}
	.menu-xs {
		right: 5rem;
		top: .5rem;
		position: absolute;
	}
}

@media(max-width:550px) {
	.menu-xs {
		right: 5rem;
		top: .25rem;
		position: absolute;
	}
}

/*.dropdown {*/
	/*margin: 0 2rem 3rem 0;*/
/*}*/

.masthead {
	margin-top: -1.3rem;
}

.social-icons>div {
	display: inline-block;
}

.social-icons>div>a {
	padding-right: .75rem;
}

body, header, main {
	background-color: #328CC1;
}

.masthead-brand {
	display: inline-block;
	/*margin-right: 55%;*/
}

nav {
	display: inline-block;
}

/*.navbar-right {*/
	/*margin: 4rem 3rem 0 0;*/
/*}*/

.inner {
	background-color: #0B3C5D;
}

.nav li {
	display: inline;
}

.nav li a {
	display: inline;
	color: #ffffff;
}

.nav li a:hover {
	background-color: #328CC1;
}

.cover-container {
	background-color: #328CC1;
	color: #ffffff;
}

h1, h2, h3, p {
	padding: 1% 5%;
}

.color-submit {
	background-color: #1D2731;
	color: #ffffff;
	margin-top: .75rem;
}

.color-submit:hover {
	color: #D9B310;
}

.placeholder-slider {
	background-color: #000000;
	height: 35rem;
	width: 65rem;
}

.circular {
	margin: .5rem .5rem;
	background-color: #004dff;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
}

#bottom-media {
	height: 6rem;
}

#mcwd {
	height: auto;
	width: 30%;
	border: 2px solid #2C3E50;
}

.golden {
	color: #D9B310;
}

/* below references: https://css-tricks.com/almanac/properties/a/animation/ */
/*.circular {*/
	/*-webkit-animation: 3s ease-in 1s slidein;*/
	/*-moz-animation:    3s ease-in 1s slidein;*/
	/*-o-animation:      3s ease-in 1s slidein;*/
	/*animation: 3s ease-in 1s slidein;*/
/*}*/

/*@keyframes pulse {*/
	/*0% {*/
		/*background-color: #001F3F;*/
	/*}*/
	/*100% {*/
		/*background-color: #FF4136;*/
	/*}*/
/*}*/