html {
	background-color: #2C3E50;
}

body {
	background-color: #18BC9C;
}

.masthead-brand {
	display: inline-block;
	margin-right: 50%;
}

nav {
	display: inline-block;
}

.inner {
	background-color: #2C3E50;
}

.nav li {
	display: inline;
}

.nav li a {
	display: inline;
	color: #ffffff;
}

.nav li a:hover {
	background-color: #18BC9C;
}

.cover-container {
	background-color: #18BC9C;
	color: #ffffff;
}

h1, h2, h3, p {
	padding: 1% 5%;
}